
<body class="">
<div id="wrapper" class="clearfix">
  <!-- preloader -->
  <div id="preloader">
    <div id="spinner">
      <img alt="" src="assets/images/preloaders/5.gif">
    </div>
    <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
  </div>
  
 
  
  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-8" data-bg-img="assets/images/bg/bg6.jpg">
      <div class="container pt-60 pb-60">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="title text-white">Cours Détaille</h2>
              <ol class="breadcrumb text-center text-black mt-10">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Pages</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Blog -->
    <section>
      <div class="container mt-30 mb-30 pt-30 pb-30">
        <div class="row">
          <div class="col-md-9 pull-right flip sm-pull-none">
            <div class="blog-posts single-post">
              <article class="post clearfix mb-0">
                <div class="entry-header">
                  <div class="post-thumb thumb"> <img src="assets/assets/images/bg/bg2.jpg" alt="" class="img-responsive img-fullwidth"> </div>
                </div>
                <div class="entry-content">
                  <div class="entry-meta media no-bg no-border mt-15 pb-20">
                    <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                      <ul>
                        <li class="font-16 text-white font-weight-600">19</li>
                        <li class="font-12 text-white text-uppercase">Juin</li>
                      </ul>
                    </div>
                    <div class="media-body pl-15">
                      <div class="event-content pull-left flip">
                        <h3 class="entry-title text-white text-uppercase pt-0 mt-0"><a href="blog-single-right-sidebar.html">Développeur back-end : Java</a></h3>
                      </div>
                    </div>
                  </div>
                  <p class="mb-15">Que vais-je faire en tant que développeur Java ? <br>
                    Un développeur Java est un développeur back-end qui se spécialise dans l’utilisation du langage de programmation Java pour construire des applications. Comme Java est une partie essentielle de nombreux types d’applications, les développeurs Java sont très recherchés dans une grande variété de secteurs.</p>
                  <p class="mb-15">Un développeur java peut être en charge de : <br>

                   - développer et améliorer un logiciel d’application<br>
                    - conception d’une architecture technique<br>
                    - mise en œuvre de tests logiciels et de code de débogage<br>
                   - produire le schéma de conception d’une base de données<br>
                   - rédaction de documentation technique et fonctionnelle<br>
                   - analyser les besoins des clients<br>
                  -  la sélection et la promotion de solutions techniques appropriées<br>
                   - suivre l’évolution des technologies</p>
                  

                </div>

              </article>
              <iframe width="100" height="500" frameBorder="0" [src]="urlSafe"> </iframe>   

            
              <div class="comments-area">
                <h3 class="comments-title">Commentaires</h3>
                <ul class="comment-list">
                  <li>
                    <div class="media comment-author"> <a class="media-left" href="#"><img class="media-object img-thumbnail" src="assets/images/blog/comment1.jpg" height="10" alt="" width="30"></a>
                      <div class="media-body">
                        <h4 class="media-heading comment-heading">Amine kheriji:</h4>
                        <div class="comment-date">20/06/2021</div>
                        <p>Ce cours m'intéresse beaucoup.</p>
            </div>
                    </div>
                  </li>
                 
                  
                </ul>
              </div>
              <div class="comment-box">
                <div class="row">
                  <div class="col-sm-12">
                    <h5>Ajouter un commentaire</h5>
                    <div class="row">
                      <form role="form" id="comment-form">
                        <div class="col-sm-6 pt-0 pb-0">
                         
                         
                         
                        </div>
                        <div class="col-sm-8">
                          <div class="form-group">
                            <textarea class="form-control" required name="contact_message2" id="contact_message2"  placeholder="Ajouter un  commentaire" rows="7"></textarea>
                          </div>
                          <div class="form-group">
                            <button type="submit" class="btn btn-dark btn-flat pull-right m-0" data-loading-text="Please wait...">Publier</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="sidebar sidebar-left mt-sm-30">
              <div class="widget">
                <h5 class="widget-title line-bottom">Rechercher</h5>
                <div class="search-form">
                  <form>
                    <div class="input-group">
                      <input type="text" placeholder="..." class="form-control search-input">
                      <span class="input-group-btn">
                      <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
              <div class="widget">
                <h5 class="widget-title line-bottom">Autres cours</h5>
                <div class="categories">
                  <ul class="list list-border angle-double-right">
                    <li><a href="#">Android<span></span></a></li>
                    <li><a href="#"> Traitement d'images  <span></span></a></li>
                    <li><a href="#">C++<span></span></a></li>
                    <li><a href="#">Python<span></span></a></li>
                  </ul>
                </div>
              </div>
             
             
            </div>
          </div>
        </div>
      </div>
    </section> 
  </div>  
  <!-- end main-content -->

 
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

