
<!DOCTYPE html>
<html>
<head>
<title>Politique de Confidentialité pour EasyLearning</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/public/livelink/css/livelink.css" />
<meta name="robots" content="noindex" />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-64426183-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-64426183-1');
    </script>
<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
<body>

<div class="page">
<input id="en" checked="checked" type="radio" name="languages" />




<section>
<div class="en section_container" section-language="en">
<div id="md_en" data-target="out_en" class="agreement_md"><h1>Politique de Confidentialité</h1>
<p>Dernière mise à jour : 08 juin 2021</p>
<p>Cette Politique de Confidentialité décrit Nos politiques et procédures sur la collecte, l’utilisation et la divulgation de Vos informations lorsque Vous utilisez le Service et Vous informe de Vos droits à la vie privée et de la façon dont la loi vous protège.</p>
<p>Nous utilisons vos données personnelles pour fournir et améliorer le Service. En utilisant le Service, Vous acceptez la collecte et l’utilisation des informations conformément à la présente Politique de Confidentialité. Cette Politique de Confidentialité a été créée avec l’aide du <a href="https://www.privacypolicies.com/privacy-policy-generator/" target="_blank">Politique de Confidentialité Generator</a>.</p>
<h1>interprétation et définitions</h1>
<h2>Interpretation</h2>
<p>Les mots dont la lettre initiale est majuscule ont un sens défini dans les conditions suivantes. Les définitions suivantes ont la même signification, qu’elles apparaissent au singulier ou au pluriel.</p>
<h2>Definitions</h2>
<p>Aux fins de la présente Politique de confidentialité:</p>
<ul>
<li>
<p><strong>Compte</strong>désigne un compte unique créé pour Vous permettant d’accéder à notre Service ou à des parties de notre Service.</p>
</li>
<li>
<p><strong>Société</strong> (referred to as either &quot;La Société&quot;, &quot;Nous&quot;, &quot;Nous&quot; ou &quot;Notre&quot; dans le présent Contrat) désigne leEasyLearning.</p>
</li>
<li>
<p><strong>Cookies</strong> sont de petits fichiers qui sont placés sur Votre ordinateur, appareil mobile ou tout autre appareil par un site Web, contenant les détails de Votre historique de navigation sur ce site Web parmi ses nombreuses utilisations.</p>
</li>
<li>
<p><strong>pays</strong> désigne : Tunisie</p>
</li>
<li>
<p><strong>Dispositif</strong> désigne tout dispositif pouvant accéder au Service tel qu’un ordinateur, un téléphone portable ou une tablette numérique.</p>
</li>
<li>
<p><strong>Données personnelles</strong> désigne tout renseignement se rapportant à une personne identifiée ou identifiable.</p>
</li>
<li>
<p><strong>Service</strong> désigne le site Web.</p>
</li>
<li>
<p><strong>Prestataire de Services</strong>désigne toute personne physique ou morale qui traite les données pour le compte de la Société. Il s’agit de sociétés tierces ou de personnes employées par la Société pour faciliter le Service, pour fournir le Service au nom de la Société, pour fournir des services liés au Service ou pour aider la Société à analyser la façon dont le Service est utilisé.</p>
</li>
<li>
<p><strong>Données d'utilisation</strong> désigne les données collectées automatiquement, soit générées par l’utilisation du Service, soit à partir de l’infrastructure du Service elle-même (par exemple, la durée d’une visite de page).</p>
</li>
<li>
<p><strong>SiteWeb</strong> désigne EasyLearning, accessible à partir de <a href="www.easylearning.com" rel="external nofollow noopener" target="_blank">www.easylearning.com</a></p>
</li>
<li>
<p><strong>Vous</strong>désigne la personne qui accède ou utilise le Service, ou la société, ou toute autre personne morale pour le compte de laquelle cette personne accède ou utilise le Service, selon le cas.</p>
</li>
</ul>
<h1>Collecte et de l'utilisation de vos données personnelles</h1>
<h2>types de données recueillies</h2>
<h3>données personnelles</h3>
<p>Lors de l’utilisation de notre Service, nous pouvons vous demander de nous fournir certaines informations personnellement identifiables qui peuvent être utilisées pour vous contacter ou vous identifier. Les renseignements personnels identifiables peuvent comprendre, sans toutefois s’y limiter :</p>
<ul>
<li>
<p>Adresse Email</p>
</li>
<li>
<p>Nom et Prenom</p>
</li>
<li>
<p>Numero de Telephone</p>
</li>
<li>
<p>données d'utilisation</p>
</li>
</ul>
<h3>données d'utilisation</h3>
<p>données d'utilisation est collecté automatiquement lors de l’utilisation du Service.</p>
<p>données d'utilisation peuvent inclure des informations telles que l’adresse de protocole Internet de votre appareil (p. ex., adresse IP), le type de navigateur, la version du navigateur, les pages de notre Service que vous visitez, l’heure et la date de votre visite, le temps passé sur ces pages, les identifiants uniques de l’appareil et d’autres données de diagnostic.</p>
<p>Lorsque Vous accédez au Service par ou via un appareil mobile, Nous pouvons collecter certaines informations automatiquement, y compris, mais sans s’y limiter, le type d’appareil mobile que Vous utilisez, Votre ID unique de l’appareil mobile, l’adresse IP de Votre appareil mobile, Votre système d’exploitation mobile, le type de navigateur Internet mobile que vous utilisez, les identifiants uniques des appareils et d’autres données de diagnostic.</p>
<p>Nous pouvons également recueillir des informations que Votre navigateur envoie chaque fois que Vous visitez notre Service ou lorsque Vous accédez au Service par ou via un appareil mobile.</p>
<h3>Technologies de suivi et témoins</h3>
<p>Nous utilisons des cookies et des technologies de suivi similaires pour suivre l’activité sur notre Service et stocker certaines informations. Les technologies de suivi utilisées sont des balises, des étiquettes et des scripts pour collecter et suivre l’information et pour améliorer et analyser Notre Service. Les technologies que nous utilisons peuvent comprendre :</p>
<ul>
<li><strong>Cookies ou cookies de navigateur.</strong>Un cookie est un petit fichier placé sur Votre Appareil. Vous pouvez demander à Votre navigateur de refuser tous les Cookies ou d’indiquer quand un Cookie est envoyé. Toutefois, si vous n’acceptez pas les Cookies, il se peut que vous ne puissiez pas utiliser certaines parties de notre Service. Sauf si vous avez ajusté les paramètres de votre navigateur afin qu’il refuse les cookies, notre Service peut utiliser des cookies.</li>
<li><strong>cookies flash.</strong> Certaines fonctionnalités de notre Service peuvent utiliser des objets stockés localement (ou des Cookies Flash) pour collecter et stocker des informations sur Vos préférences ou Votre activité sur notre Service. Les cookies Flash ne sont pas gérés par les mêmes paramètres de navigateur que ceux utilisés pour les cookies du navigateur. Pour plus d’informations sur la façon dont vous pouvez supprimer les cookies Flash, veuillez lire &quot;Où puis-je modifier les paramètres de désactivation ou supprimer les objets partagés locaux?&quot; disponibles à<a href="https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html#main_Where_can_I_change_the_settings_for_disabling__or_deleting_local_shared_objects_" rel="external nofollow noopener" target="_blank">https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html#main_Where_can_I_change_the_settings_for_disabling__or_deleting_local_shared_objects_</a></li>
<li><strong>balises web.</strong> Certaines sections de notre Service et de nos e-mails peuvent contenir de petits fichiers électroniques connus sous le nom de balises Web (également appelés gifs clairs, pixels et gifs simples) qui permettent à la Société, par exemple, pour compter les utilisateurs qui ont visité ces pages ou ouvert un courriel et pour d’autres statistiques liées au site Web (par exemple, enregistrer la popularité d’une certaine section et vérifier l’intégrité du système et du serveur).</li>
</ul>
<p>cookies peuvent être &quot;persistant&quot; ou &quot;session&quot; Cookies.Les cookies persistants restent sur votre ordinateur personnel ou votre appareil mobile lorsque vous vous déconnectez, tandis que les cookies de session sont supprimés dès que vous fermez votre navigateur Web. En savoir plus sur les cookies : <a href="https://www.privacypolicies.com/blog/cookies/" target="_blank">Que sont les cookies ?</a>.</p>
<p>Nous utilisons à la fois des cookies de session et des cookies persistants aux fins indiquées ci-dessous :</p>
<ul>
<li>
<p><strong>Témoins nécessaires/essentiels</strong></p>
<p>Type : Cookies de session</p>
<p>Administré par : Nous</p>
<p>But : Ces Cookies sont essentiels pour Vous fournir les services disponibles sur le Site et Vous permettre d’utiliser certaines de ses fonctionnalités. Ils aident à authentifier les utilisateurs et à prévenir l’utilisation frauduleuse des comptes d’utilisateurs. Sans ces Cookies, les services que Vous avez demandés ne peuvent pas être fournis, et Nous n’utilisons ces Cookies que pour vous fournir ces services</p>
</li>
<li>
<p><strong>Politique sur les cookies / Cookies d’acceptation d’avis</strong></p>
<p>Type : Témoins persistants</p>
<p>Administré par : Nous</p>
<p>But : Ces Cookies identifient si les utilisateurs ont accepté l’utilisation de cookies sur le Site.</p>
</li>
<li>
<p><strong>cookies de fonctionnalité</strong></p>
<p>Type : Témoins persistants</p>
<p>Administré par : Nous</p>
<p>But : Ces Cookies nous permettent de mémoriser les choix que Vous faites lorsque Vous utilisez le Site Web, tels que la mémorisation de vos informations de connexion ou de votre préférence de langue. Le but de ces Cookies est de Vous fournir une expérience plus personnelle et d’éviter que Vous ayez à réenregistrer vos préférences chaque fois que Vous utilisez le Site Web.</p>
</li>
</ul>
<p>Pour plus d’informations sur les cookies que nous utilisons et vos choix concernant les cookies, veuillez consulter notre Politique de Cookies ou la section Cookies de notre Politique de Confidentialité.</p>
<h2>utilisation de vos données personnelles</h2>
<p>La Société peut utiliser les Données à caractère personnel aux fins suivantes :</p>
<ul>
<li>
<p><strong>Fournir et maintenir notre service</strong>, y compris pour surveiller l’utilisation de notre Service.</p>
</li>
<li>
<p><strong>Pour gérer votre compte :</strong>pour gérer Votre inscription en tant qu’utilisateur du Service. Les données personnelles que vous fournissez peuvent vous donner accès aux différentes fonctionnalités du Service qui sont disponibles pour vous en tant qu’utilisateur enregistré.</p>
</li>
<li>
<p><strong>Pour l’exécution d’un contrat :</strong>le développement, la conformité et l’engagement du contrat d’achat pour les produits, articles ou services que vous avez achetés ou de tout autre contrat avec nous par l’intermédiaire du service.</p>
</li>
<li>
<p><strong>Pour vous contacter :</strong>Pour communiquer avec vous par courriel, par téléphone, par SMS ou par d’autres formes équivalentes de communication électronique, comme les notifications push d’une application mobile concernant les mises à jour ou les communications informatives liées aux fonctionnalités, produits ou services contractuels, y compris les mises à jour de sécurité, lorsque cela est nécessaire ou raisonnable pour leur mise en œuvre.</p>
</li>
<li>
<p><strong>de vous fournir</strong>avec des nouvelles, des offres spéciales et des informations générales sur d’autres biens, services et événements que nous offrons qui sont similaires à ceux que vous avez déjà acheté ou demandé, sauf si vous avez choisi de ne pas recevoir ces informations.</p>
</li>
<li>
<p><strong>Pour gérer vos demandes :</strong>Pour assister et gérer vos demandes.</p>
</li>
<li>
<p><strong>Pour les transferts d’entreprises:</strong> Nous pouvons utiliser Vos informations pour évaluer ou effectuer une fusion, un dessaisissement, une restructuration, une réorganisation, une dissolution ou une autre vente ou transfert de tout ou partie de Nos actifs, que ce soit dans le cadre d’une entreprise en exploitation ou dans le cadre d’une procédure de faillite, de liquidation ou similaire, dans lequel les Données personnelles détenues par Nous concernant nos utilisateurs du Service figurent parmi les actifs transférés.</p>
</li>
<li>
<p><strong>à d'autres fins</strong>: Nous pouvons utiliser vos informations à d’autres fins, telles que l’analyse des données, l’identification des tendances d’utilisation, la détermination de l’efficacité de nos campagnes promotionnelles et d’évaluer et d’améliorer notre Service, produits, services, marketing et votre expérience.</p>
</li>
</ul>
<p>Nous pouvons partager vos informations personnelles dans les situations suivantes :</p>
<ul>
<li><strong>With Service Providers:</strong> Nous pouvons partager vos informations personnelles avec les fournisseurs de services pour surveiller et analyser l’utilisation de notre service, pour vous contacter.</li>
<li><strong>For business transfers:</strong>Nous pouvons partager ou transférer Vos informations personnelles dans le cadre ou lors de négociations de toute fusion, vente d’actifs de la Société, financement ou acquisition de tout ou partie de Nos activités à une autre société.</li>
<li><strong>Avec les sociétés affiliées :</strong> Nous pouvons partager Vos informations avec Nos sociétés affiliées, auquel cas nous demanderons à ces sociétés affiliées de respecter cette Politique de Confidentialité. Les sociétés affiliées comprennent Notre société mère et toute autre filiale, coentreprise partenaire ou autre société que Nous contrôlons ou qui sont sous contrôle commun avec Nous.</li>
<li><strong>Avec des partenaires commerciaux :</strong> Nous pouvons partager Vos informations avec Nos partenaires commerciaux pour vous offrir certains produits, services ou promotions.</li>
<li><strong>avec d'autres utilisateurs :</strong> Lorsque vous partagez des renseignements personnels ou interagissez d’une autre façon dans les aires publiques avec d’autres utilisateurs, ces renseignements peuvent être consultés par tous les utilisateurs et peuvent être distribués publiquement à l’extérieur.</li>
<li><strong>avec votre consentement</strong>: Nous pouvons divulguer vos renseignements personnels à toute autre fin avec votre consentement.</li>
</ul>
<h2>conservation de vos données personnelles</h2>
<p>La Société ne conservera vos Données personnelles que pendant la durée nécessaire aux fins énoncées dans la présente Politique de Confidentialité. Nous conserverons et utiliserons vos données personnelles dans la mesure nécessaire pour nous conformer à nos obligations légales (par exemple, si nous sommes tenus de conserver vos données pour respecter les lois applicables), résoudre les litiges et appliquer nos accords et politiques juridiques.</p>
<p>La Société conservera également des données d’utilisation à des fins d’analyse interne.données d’utilisation est généralement conservée pour une période plus courte, sauf lorsque ces données sont utilisées pour renforcer la sécurité ou améliorer la fonctionnalité de Notre Service, ou Nous sommes légalement tenus de conserver ces données pendant de plus longues périodes.</p>
<h2>transfert de vos données personnelles</h2>
<p>Vos informations, y compris les données personnelles, sont traitées dans les bureaux d’exploitation de la Société et dans tout autre endroit où se trouvent les parties impliquées dans le traitement. Cela signifie que ces informations peuvent être transférées et conservées sur des ordinateurs situés en dehors de votre État, province, pays ou autre juridiction gouvernementale où les lois sur la protection des données peuvent différer de celles de votre juridiction.</p>
<p>Votre consentement à la présente Politique de Confidentialité suivie de Votre soumission de ces informations représente Votre accord à ce transfert.</p>
<p>La Société prendra toutes les mesures raisonnablement nécessaires pour s’assurer que Vos données sont traitées en toute sécurité et conformément à la présente Politique de Confidentialité et qu’aucun transfert de Vos Données Personnelles n’aura lieu à une organisation ou à un pays sauf si des contrôles adéquats sont en place y compris la sécurité de Vos données et d’autres informations personnelles.</p>
<h2>divulgation de vos données personnelles</h2>
<h3>transactions commerciales</h3>
<p>Si la Société est impliquée dans une fusion, une acquisition ou une vente d’actifs, Vos Données Personnelles peuvent être transférées. Nous vous informerons avant que vos données personnelles ne soient transférées et ne soient soumises à une autre Politique de Confidentialité.</p>
<h3>application de la loi</h3>
<p>Dans certaines circonstances, la Société peut être tenue de divulguer Vos Données Personnelles si cela est requis par la loi ou en réponse à des demandes valides des autorités publiques (par ex. un tribunal ou un organisme gouvernemental).</p>
<h3>autres exigences légales</h3>
<p>La Société peut divulguer Vos Données Personnelles dans la conviction de bonne foi qu’une telle action est nécessaire pour :</p>
<ul>
<li>respecter une obligation légale</li>
<li>Protéger et défendre les droits ou les biens de la Société</li>
<li>Prévenir ou enquêter sur d’éventuels actes répréhensibles en lien avec le Service</li>
<li>Protéger la sécurité personnelle des utilisateurs du Service ou du public</li>
<li>Protection contre la responsabilité juridique</li>
</ul>
<h2>sécurité de vos données personnelles</h2>
<p>La sécurité de vos données personnelles est importante pour nous, mais n’oubliez pas qu’aucune méthode de transmission sur Internet ou de stockage électronique n’est 100% sécurisée. Alors que nous nous efforçons d’utiliser des moyens commercialement acceptables pour protéger vos données personnelles, nous ne pouvons pas garantir leur sécurité absolue.</p>
<h1>confidentialité des enfants</h1>
<p>Notre Service ne s’adresse pas aux personnes de moins de 13 ans. Nous ne recueillons pas sciemment de renseignements personnels identifiables auprès de personnes de moins de 13 ans. Si vous êtes un parent ou un tuteur et que vous savez que votre enfant nous a fourni des données personnelles, veuillez nous contacter. Si Nous apprenons que Nous avons recueilli des Données personnelles de personnes de moins de 13 ans sans vérification du consentement parental, Nous prenons des mesures pour supprimer ces informations de Nos serveurs.</p>
<p>Si nous devons nous appuyer sur le consentement comme base juridique pour traiter vos informations et votre pays exige le consentement d’un parent, nous pouvons exiger le consentement de votre parent avant de recueillir et d’utiliser ces informations.</p>
<h1>lien vers d'autres sites</h1>
<p>Notre Service peut contenir des liens vers d’autres sites Web qui ne sont pas exploités par Nous. Si Vous cliquez sur un lien tiers, Vous serez dirigé vers le site de ce tiers. Nous vous conseillons vivement de consulter la Politique de Confidentialité de chaque site que vous visitez.</p>
<p>Nous n’avons aucun contrôle et n’assumons aucune responsabilité pour le contenu, les politiques de confidentialité ou les pratiques de tout site ou service tiers.</p>
<h1>Modifications apportées à la présente Politique de confidentialité</h1>
<p>Nous pouvons mettre à jour Notre Politique de Confidentialité de temps à autre. Nous vous informerons de tout changement en affichant la nouvelle Politique de Confidentialité sur cette page.</p>
<p>Nous vous le ferons savoir par courriel et/ou un avis bien en vue sur Notre Service, avant que le changement ne prenne effet et mettrons à jour le&quot;dernière mise à jour&quot; en haut de cette Politique de Confidentialité.</p>
<p>Nous vous conseillons de consulter périodiquement la présente Politique de confidentialité pour tout changement. Les modifications apportées à la présente Politique de confidentialité entrent en vigueur lorsqu’elles sont affichées sur cette page.</p>
<h1>nous contacter</h1>
<p>Si vous avez des questions concernant cette Politique de Confidentialité, vous pouvez nous contacter :</p>
<ul>
<li>En visitant cette page sur notre site : <a href="www.easylearning.com/contact" rel="external nofollow noopener" target="_blank">www.easylearning.com/contact</a></li>
</ul>
</div>
<div id="out_en" class="agreement_output"></div>
</div>
</section>


<footer>
<div class="container">
Politique de Confidentialité forEasyLearning
</div>
</footer>

</div>
<script type="text/javascript" src="/public/livelink/vendors/jquery.min.js"></script>
<script type="text/javascript" defer>
    $(document).ready(function () {
        let language_label = $('.language_label');
        function selectFirstLanguage() {
            language_label.each(function(index, element) {
                let language = $(element).attr('label-language');
                selectLanguage(language);
                return false;
            });
        }
        // Language selection function
        function selectLanguage(language) {
            language_label.removeClass('active');
            $('.section_container').removeClass('active');

            $(".language_label[label-language='" + language +"']").addClass('active');
            $(".section_container[section-language='" + language +"']").addClass('active');

            $("html, body").animate({scrollTop: 0}, "slow");
        }
        // Automatically select the first language
        selectFirstLanguage();

        $('.language_label').click(function () {
          language_label.click(function () {
              var labelLanguage = $(this).attr('label-language');
              selectLanguage(labelLanguage);
          });
        });
    });
</script>
<script type="text/javascript">
    "use strict";
    window.LCG_TRACKING_APPLICATION = "privacypolicies-livelink";
    window.LCG_TRACKING_ENVIRONMENT = "production";
    window.LCG_TRACKING_EPOCH = "2020-e01";
</script>
<script src="/track/v1/r/js-code" type="text/javascript" async="true"></script>
<script src="/track/v1/r/js-data" type="text/javascript" async="true"></script>
<img src="/track/v1/px" style="position:fixed;right:0px;bottom:0px;display:none;" />
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'65c1a1f18f62374b',m:'aa23db8e52036a289851dbef7ebc97c3d7ddb442-1623150195-1800-AYW/ESt+TvdyPQMXiaXIdUz1KJDmm6egkk3TwBxbiX/WNXvtUCYs1BjIvoE0FW/3cVRTaAZCQSV5LWxz0qesq7js0yIa5kcAvqJipl9U04cfXbc6ofYJyje9WndOIQISZfAm22vzWwQ4OW8ORarmBDKlEFb+8PPC2QEA4yF8X9lc+L+cWStdMMYg8B+yr4AKxYXh7Hr4NHvFK5ly2++KjmLQlmTNQz1jDvy6dSSwPpwIpzP7Sk23TAIG8PyFTq1Yvw==',s:[0xf13e42beae,0x37c14b441d],}})();</script><script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"65c1a1f18f62374b","token":"78553c15395b4429a9f224714ac63483","version":"2021.5.2","si":10}'></script>
</body>
</html>