  
  <!-- Footer -->
  <footer id="footer" class="footer bg-black-222" data-bg-img="images/footer-bg.png">
    <div class="container pt-70 pb-40">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <img class="mt-10 mb-15" alt="" src="assets/images/logp.png" width="170">
          
          </div>
        </div>
      
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Liens utiles</h5>
            <ul class="list angle-double-right list-border">
              <li><a href="/privacy">Politique de confidentialité
              </a></li>
              <li><a href="/disclamer">Avertissement</a></li>
              <li><a href="/terms">Conditions d’utilisation</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Contact rapide</h5>
            <ul class="list-border">
              <li><a href="">Tél:+216 75 29 26 25/+216 75 29 06 51</a></li>
              <li><a href="#">Fax : +216 75 29 00 41</a></li>

              <li><a href="https://mail.google.com/mail/u/0/?hl=fr#inbox?compose=CllgCJftLxFHJQvHSJWRpblqXvbKkptMGWxFkpllWTsjvXKLNbHLlXjmxcBPRJJvQzJnCtXBXWL">Email : isetg@isetg.rnu.tn
              </a></li>
              <li><a href="https://www.google.com/maps/place/%D8%A7%D9%84%D9%85%D8%B9%D9%87%D8%AF+%D8%A7%D9%84%D8%B9%D8%A7%D9%84%D9%8A+%D9%84%D9%84%D8%AF%D8%B1%D8%A7%D8%B3%D8%A7%D8%AA+%D8%A7%D9%84%D8%AA%D9%83%D9%86%D9%88%D9%84%D9%88%D8%AC%D9%8A%D8%A9+%D8%A8%D9%82%D8%A7%D8%A8%D8%B3%E2%80%AD/@33.8637183,10.1063586,17z/data=!3m1!4b1!4m5!3m4!1s0x12556e49c3f6adbf:0xaa81492277b3e4b9!8m2!3d33.8637139!4d10.1041699" class="lineheight-20">Route de Medenine - 6011 Gabès</a></li>
            </ul>
        
           
            
           
          </div>
        </div>
      </div>
    </div>
    
  </footer>
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>

  