<div class="main-content bg-lighter">
    <!-- Quizz: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg6.jpg">
      <div class="container pt-70 pb-20">
        <!-- Quizz Content -->
        <div class="-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white text-center">Quiz</h2>
              <ol class="breadcrumb text-left text-black mt-10">
                <li><a href="/home">Home</a></li>
                <li><a href="#">Pages</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Quizz: Course gird -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12 blog-pull-right">
             <div class="row">
                <div class="col-sm-6 col-md-3" *ngFor="let quizz of quizzs">
                  <div class="project mb-30 border-2px">
                    <div class="thumb">
                      <img class="img-fullwidth" alt="" src="../../assets/images/project/c1.jpg">
                      <div class="hover-link">
                      </div>
                    </div>
                  <div class="project-details p-15 pt-10 pb-10">
                    <h4 class="font-weight-700 text-uppercase mt-0">
                        <a href="question/{{quizz.id}}">{{ quizz.titre }}</a>
                    </h4>
                    </div>
                  </div>
                </div> 
             </div>
             <div id="quiz">
              <title>Quiz Application</title>
            <br>
            1.Dans Angular, vous pouvez passer des données du composant parent au composant enfant en utilisant :<br>
            <input type="radio" name="question1" id="correct1">@Output() <br>
            <input type="radio" name="question1">@Input() <br>
            <input type="radio" name="question1">Input <br>
            <input type="radio" name="question1">Output <br><br>
            
           2.Dans Angular, vous pouvez passer des données du composant enfant au composant parent en utilisant :<br>
            <input type="radio" name="question2" >@Output() <br>
            <input type="radio" name="question2">@Input() <br>
            <input type="radio" name="question2" id="correct2">Input <br>
            <input type="radio" name="question2">Output <br><br>
            
           3.Quelle directive relie la valeur des contrôles aux données ?<br>
            <input type="radio" name="question3" > ng-app <br>
            <input type="radio" name="question3"id="correct3">ng-init <br>
            <input type="radio" name="question3">ng-model<br><br>
            

           4.Quelle directive modifie la hiérarchie des DOM ?<br>
            <input type="radio" name="question4" > Structural directive <br>
            <input type="radio" name="question4"id="correct4">Attribute directive <br><br>

           5.Quel est le bon nom de classe de contrôle de formulaire qui est défini à true via [(ngModel)] chaque fois que la valeur est modifiée ? <br>
            <input type="radio" name="question5" > .ng-invalid <br>
            <input type="radio" name="question5"id="correct5">.ng-pending <br>
            <input type="radio" name="question5">.ng-pristine<br><br>
            
            <input type="submit" name="submit" value="Validé" onClick="result()">
            <script type="text/javascript">
            function result()
            {
              var score=0;
              if(document.getElementById('correct1').checked)
                {	score++;
                }
              if(document.getElementById('correct2').checked)
                {	score++;
                }
              if(document.getElementById('correct3').checked)
                {	score++;
                }
             alert("Your score is:"+score);
             // to print on browser
             // document.write("Your score is:"+score);
            }
            </script>
             </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <nav>
              <ul class="pagination xs-pull-center m-0">
                <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">«</span> </a> </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">...</a></li>
                <li> <a href="#" aria-label="Next"> <span aria-hidden="true">»</span> </a> </li>
              </ul>

 




            </nav>
          </div>
        </div>
      </div>
    </section>
  </div>